<div class="container">
  <h1>Check Your password strength</h1>
  <button
    [ngClass]="{ hidePassword: showPassword }"
    (click)="toggleShowPassword()"
  >
    {{ showPassword ? "Hide" : "Show" }} password
  </button>
  <input
    [type]="showPassword ? 'text' : 'password'"
    name="password"
    [(ngModel)]="password"
    (ngModelChange)="evaluateStrength()"
    placeholder="Enter password"
  />

  <div>
    <div
      class="strengthIndicator"
      [ngClass]="{
        short: strength === 'short',
        weak: strength === 'weak',
        medium: strength === 'medium',
        strong: strength === 'strong'
      }"
    ></div>
    <div
      class="strengthIndicator"
      [ngClass]="{
        short: strength === 'short',
        medium: strength === 'medium',
        strong: strength === 'strong' && password.length >= 8
      }"
    ></div>
    <div
      class="strengthIndicator"
      [ngClass]="{
        short: strength === 'short',
        strong: strength === 'strong' && password.length >= 8
      }"
    ></div>
  </div>
</div>
